body {
	text-align: center;
	font-size: 1em;
	margin: 0 auto;
	color: #000;
}

ul {
	list-style: none;
}

ul, li {
	margin: 0;
	padding: 0;
}

table {
	margin: 0 auto;
	border: 1px solid #000;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.hidden {
	display: none;
}

.tools {
	width: 100%;
	height: 40px;
	color: #FFF;
	position: relative;
	background-color: #000;
	margin: 0 0 30px 0;
}

.tools .content-area {
	width: 80%;
	margin: 0 auto;
	overflow: hidden :
}

.tools .content-area .logo {
	position: absolute;
	z-index: 2;
}

.tools .content-area .api a {
	color: #FFF;
}

.tools .content-area .api table{
	background-color: #F9F9F9;
	position: absolute;
	color: #000000;
	display: none;
	text-align: left;
	z-index: 4;
}

.tools .content-area .api table td {
	width: 200px;
}

.main {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

.main section {
	float: left;
	position: relative;
	width: 160px;
	height: 200px;
	margin: 10px 0 10px 20px;
	background-color: ;
	border: 4px solid #ddeded;
	border-radius: 5px;
}

.tools .content-area .tools-menu {
	position: relative;
}

.tools .content-area .tools-menu img {
	position: absolute;
	top: 10px;
}

.main section.lb header{
	font-weight: bold;
	width: 100%;
	height: 37px;
	text-align: left;
	z-index: 3;
	position: relative;
	margin: 4px 0 0 -8px;
	padding: 5px;
}

.main section.lb.javascript header {
	color: #FFF;
	background: url(../imgs/labels/label-green.png) 0 0 no-repeat;
}

.main section.lb.css header {
	color: #FFF;
	background: url(../imgs/labels/label-red.png) 0 0 no-repeat;
}

.main section.lb.html header {
	color: #FFF;
	background: url(../imgs/labels/label-blue.png) 0 0 no-repeat;
}
