<!DOCTYPE html>
<html>
	<head>
		<title>Lessons</title>
		
		<link href="css/main.css" rel="stylesheet" />
	</head>
	<body>
		<div class="tools">
			<div class="content-area">
				<div class="logo float-left">
					<img src="imgs/hunger-games.png" title="logo" alt="logo" width="80" height="80">
				</div>
				<div class="api">
					<a class="api-opener" href="#">API</a>
					<table>
						<thead>
							<th>URL</th>
							<th>Methos</th>
							<th>Parameters</th>
							<th>Description</th>
						</thead>
						<tbody>
							<tr>
								<td>/api/v1/lessons/</td>
								<td>GET</td>
								<td>&nbsp;</td>
								<td>Returns all the lessons</td>
							</tr>
							<tr>
								<td>/api/v1/lessons/</td>
								<td>POST</td>
								<td>title, description, type</td>
								<td>Creates a new lesson</td>
							</tr>
							<tr>
								<td>/api/v1/lessons/:id</td>
								<td>PUT</td>
								<td>title, description, type</td>
								<td>Updates the lesson with id</td>
							</tr>
							<tr>
								<td>/api/v1/lessons/:id</td>
								<td>GET</td>
								<td>&nbsp;</td>
								<td>Return the specific lesson</td>
							</tr>
							<tr>
								<td>/api/v1/lessons/:id</td>
								<td>DELETE</td>
								<td>&nbsp;</td>
								<td>Deletes the specific lesson with id</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="tools-menu float-right">
					<a href="#"><img src="imgs/icons/icon-add-lesson.png" width="60px" title="add a new lesson" alt="add lesson icon"/></a>
				</div>
			</div>
		</div>
		<h1>RESTapi example</h1>
		<div class="main">
		</div>
		<!-- Templates -->
		<script id="lesson-template" type="text/uderscore-template">
		   	<header><%- title %></header>
			<div class="content">Content of the lesson</div>
			<footer><a href="#">view lesson content</a></footer>
		</script>
		
		<script id="lessonContent-template" type="text/uderscore-template">
		    <%- description %>
		    <a class="save" href="#">save</a>
		</script>
		<!-- /Templates -->
		
		<script src="js/libs/underscore.js" type="application/javascript"></script>
		<script src="js/libs/jquery-2.1.1.min.js" type="application/javascript"></script>
		<script src="js/libs/backbone.js" type="application/javascript"></script>
		
		<!-- Models -->
		<script src="js/models/model.lesson.js" type="application/javascript"></script>
		<!-- Collections -->
		<script src="js/collections/collection.lessons.js" type="application/javascript"></script>
		<!-- Views -->
		<script src="js/views/view.lessonContent.js" type="application/javascript"></script>
		<script src="js/views/view.lesson.js" type="application/javascript"></script>
		<script src="js/views/view.lessons.js" type="application/javascript"></script>
		
		<script src="js/app.js" type="application/javascript"></script>
	</body>	
</html>